/*footer*/
.footer
{
  width:100%;
  background:#EDEDED;
}
.footer [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size:1.3em;
  color:#898989;
  cursor:pointer;
}
.footer-col
{
  display:inline-block;
  width:22%;
  padding-left:2%;
  text-align:justify;
  list-style-type: none;
  vertical-align:top;
}
.footer-box{
  width:100%;
}
.footer-col li{
  margin-bottom:1%;
  margin-top:1%;
}
.footer a{
    text-decoration:none;
    color:inherit;
}
@media only screen and (max-width:800px){
  .footer-col{display:block;width:auto;text-align:center;}
  .hide-space{display:none;}
}