.tabs ul
{
  list-style-type: none;
}
.tabs li
{
  background:#d32f2f;
  padding:4%;
  margin:2%;
  text-align: center;
}
.tabs li a:hover, .tabs li a
{
  text-decoration : none;
  color:white;
}
li.active
{
  background:#ef5350;
}
.tab-content
{
  border:1px solid #ef9a9a;
}
.tab
{
  display:none;
  width:100%;
  height:100%;
}
.tab.active
{
  display:block;
}
input[type='text'], select, .btn, textarea{
	resize:none;
  margin-top: 2%;
  margin-bottom:2%;
}
.siblings
{
  width:20%;
}
/*This entire CSS is for the Search Refinement Options*/
#wrapper
{
    /*Padding set to 0 in serach.css only*/
}
.auxil
{
  width:20%;
  background:#E0E0E0;
  padding:2em;
  border-radius:4px;
  margin-left:2%;
  font-size: 14.5px !important; /*Overrides the font size caused by user.css*/
}
@media only screen and (max-width:800px)
{
		.table-cell{
        word-break: break-all;
        margin:0.5%;
    }
  .auxil{display:none;}
  .tab-wrapper{width:95%;transform:translateX(6%);
  -webkit-transform:translate(6%);
  -ms-transform:translate(6%);}
  .siblings{width:30%;}
  .tabs li{padding:1%}
}